.container {
    display: flex;
    justify-content: space-evenly;
    margin: 1em 8em;
}

@media (max-width: 744px) {
    .container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    }
}